<div class="row">
  <aside class="col-md-4"></aside>
  <h1 class="name col-md-4">
    <%= link_to post.user.user_name, profile_path(post.user.user_name) %>
  </h1>
  <aside class="col-md-2"></aside>
  <div class="time-ago col-md-2">
    <%= time_ago_in_words post.created_at %> ago
  </div>
</div>
<div class="row">
  <%= link_to (image_tag post.image.url(:medium), class: 'img-responsive, center-block'), post_path(post) %>
  <p class="caption">
    <%= post.caption %>
  </p>
</div>
<% if post.comments %>
  <%= render post.comments, post: post %>
<% end %>
</br>
<div class="row">
  <aside class="col-md-4"></aside>
  <div class="col-md-1">
    <span class="glyphicon glyphicon-heart-empty"></span>
  </div>
  <div class="col-md-2">
    <%= form_for [post, post.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: 'Enter a comment.' %>
    <% end %>
  </div>
  <aside class="col-md-5"></aside>
</div>